@model NerdDinner2.ViewModels.DinnerFormViewModel

@{
    ViewBag.Title = "DinnerForm";
}

@Html.ValidationSummary("Please correct the errors and try again.") 


<div class="col-lg-12">
    @using (Html.BeginForm())
    {

        <fieldset id="forms" class="col-lg-4" >
            <p>
                <label for="Title">Dinner Title:</label>
            </p>
            <p>
                @Html.TextBox("Title", Model.Dinner.Title)
                @Html.ValidationMessage("Title", "*")
            </p>
            <p>
                <label for="EventDate">Event Date:</label>

            </p>
            <p>
                @Html.TextBox("EventDate", Model.Dinner.EventDate)
                @Html.ValidationMessage("EventDate", "*")
            </p>
            <p>
                <label for="Description">Description:</label>

            </p>
            <p>
                @Html.TextArea("Description", Model.Dinner.Description)
                @Html.ValidationMessage("Description", "*")
            </p>
            <p>
                <label for="Address">Address:</label>

            </p>
            <p>
                @Html.TextBox("Address", Model.Dinner.Address)
                @Html.ValidationMessage("Address", "*")
            </p>
            <p>
                <label for="Country">Country:</label>

            </p>
            <p>
                @Html.DropDownList("Country", Model.Countries)
                @Html.ValidationMessage("Country", "*")
            </p>
            <p>
                <label for="ContactPhone">Contact Phone #:</label>

            </p>
            <p>
                @Html.TextBox("ContactPhone", Model.Dinner.ContactPhone)
                @Html.ValidationMessage("ContactPhone", "*")
            </p>

            <p>
                <input type="submit" value="Save" />
            </p>

        </fieldset>
        <div id="mapDiv" class="col-lg-8">
            @{Html.RenderPartial("Map", Model.Dinner);}
        </div>

        <script type="text/javascript">
 
            $(document).ready(function() {
                $("#Address").blur(function(evt) {
                    $("#Latitude").val("");
                    $("#Longitude").val("");

                    alert("yeet");
 
                    var address = jQuery.trim($("#Address").val());
                    if (address.length < 1)
                        return;
 
                    FindAddressOnMap(address);
                });
            });
 
        </script>
 

    }

</div>
 



